# This is a basic workflow to help you get started with Actions

name: Deploy to dev

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: 
      - master

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: muinmomin/webhook-action@v1.0.0
        with:
          url: ${{ secrets.DEVPUBLISHPROFILE }}
          data: "{'command': 'publish'}"
